@page
@model DBAlumnos.Pages.MateriasIndexModel
@{
    ViewData["Title"] = "Lista de Materias";
}

<div class="container">
    <h2 class="page-title">Lista de Materias</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="table-container">
        <table class="styled-table">
            <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Créditos</th>
            <th>Acciones</th>
            </thead>
            <tbody>
                @if (Model.ListaMaterias != null && Model.ListaMaterias.Any())
                {
                    @foreach (var materia in Model.ListaMaterias)
                    {
                        <tr>
                             <td>@materia.Id</td>
                             <td>@materia.Nombre</td>
                             <td>@materia.Creditos</td>
                             <td class="actions">
                                 <a asp-page="/MateriasEditar" asp-route-id="@materia.Id" class="btn-edit">Editar</a>
                                 <a asp-page="/MateriasEliminar" asp-route-id="@materia.Id" class="btn-delete">Eliminar</a>
                             </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" style="text-align: center;">No hay materias registradas</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
</div>